body{
    background-color: rgb(174, 219, 224);
    color: rgb(3, 0, 0);
    text-transform: capitalize;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}

.links{
    margin: 5% 5% 10% 5%;
    color: black;
}

.signup{
    float: right;
}
.back{
    float: left;
}

.signup,.back{
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 1%;
    border-radius: 10px;
    text-transform: capitalize;
    text-decoration: none;
}

.signup:hover, .back:hover{
    background-color: white;
    color: black;
}

fieldset{
    margin: auto auto;
    border: none;
}
form{
    width: 55%;
    display: block;
    margin: auto auto;   
    
}
label{
    display: block;
    margin: 0.6vw auto;
}
input[type="text"],input[type="email"]{
    width:100%;
    height: 2.5vw;
}
input[type="password"]{
    height: 2vw;
}
#age{
    width: 10%;
    height: 2vw;
}
input[type="submit"]{
    margin: auto 22vw;
}
#phone-number{
    height: 2vw;
}
.below{
    display:block;
  }
  textarea{
    display:block;
    margin:5% auto;
    width:70%;
    height:15%;
    border:1.5px solid grey;
  }